.current-appointments {
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
}

.appointment {
 background-color:#2f2caa;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 20px;
 
  color: white;
  box-shadow: #2d3748 0px 0px 2px;
}
.appointment1{
 
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius:15px;
 
   background-color:#dde2fa;
 

}
.appointment1 h4 {
  margin: 0 0 5px 0;
  color: #2d3748;
  font-size: 1rem;
}

.appointment h4 {
  margin: 0 0 5px 0;
  color: white;
  font-size: 1rem;
}

.appointment p {
  margin: 3px 0;
  color: white;
  font-size: 0.9rem;
}
.appointment1 p {
  margin: 3px 0;
  color: #4a5568;
  font-size: 0.9rem;
}

.doctor {
  color: #718096;
  font-style: italic;
}
.dentist{
    width: 40px;
    height: 20px;
}
.dent-container{
    display: flex;
  justify-content: space-between;
}
.muscle{
    width: 20px;
    height: 20px;
}
@media  screen and (max-width:425px){
  .current-appointments{
    flex-direction: column;
  }
  .current-appointments-container{
    display: flex;
    gap: 20px;
  }
}

  .current-appointments{
    padding: 15px;
    max-width: 95%;
    margin: 0 auto;
  }

@media screen and(max-width:320px){
   .current-appointments{
   
   
        margin-left: 20px;
  }
}
@media screen and(max-width:375px){
   .current-appointments1{
    padding: 15px;
    max-width: 80%;
    margin: 0 auto;
    
  }
}
